#RewriteEngine On

# Redirigir todas las solicitudes al directorio public
#RewriteCond %{REQUEST_URI} !^/public/
#RewriteRule ^(.*)$ public/$1 [L]

#<IfModule mod_rewrite.c>
 # RewriteEngine On
  #RewriteRule ^$ public/ [L]
  #RewriteRule (.*) public/$1 [L]
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Prueba-Tecnica/

    # Redirigir todo a /public/ excepto si ya está ahí
    RewriteCond %{REQUEST_URI} !^/Prueba-Tecnica/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
